/* index.css 또는 전역 스타일 파일에 */
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html, body, #root {
  height: 100%;
  overflow: hidden; /* ✅ 외부 스크롤 제거 */
}

/* 글 작성 코드 입력창 스크롤바 css */
.my-custom-class .monaco-scrollable-element {
  scrollbar-width: thin;
  scrollbar-color: #444 #222;
}

.my-custom-class .monaco-scrollable-element::-webkit-scrollbar {
  width: 5px;
}

.my-custom-class .monaco-scrollable-element::-webkit-scrollbar-thumb {
  background-color: #444;
  border-radius: 4px;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
