/* index.css 또는 전역 스타일 파일에 */
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}



/* 글 작성 코드 입력창 css */

.my-custom-class .monaco-scrollable-element {
  scrollbar-width: thin;
  scrollbar-color: #444 #222;
}

.my-custom-class .monaco-scrollable-element::-webkit-scrollbar {
  width: 8px;
}

.my-custom-class .monaco-scrollable-element::-webkit-scrollbar-thumb {
  background-color: #444;
  border-radius: 4px;
}
