/* Login.css */
/* 카드 내부 양쪽 분할을 위한 flex 구조 */
.login-left {
  width: 40%;
}

.login-right {
  width: 60%;
}

/* 로그인 버튼 */
.login-btn {
  background-color: #0066ff;
  border: none;
  padding: 0.75rem 1.25rem; /* 높이 키움 */
  font-size: 1.1rem;         /* 글자 크게 */
  border-radius: 8px;
  margin-top: 10%;
}

.login-btn:hover {
  background-color: #0052cc;
}

.login-text {
  text-align: left;
}

/* Hana-Bridge 텍스트 */
.logo-text {
  font-size: 1.8rem;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}
