/* CodeHelper.css */

.code-helper-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}

.code-helper-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0; /* 버튼 기본 여백 제거 */
}

.code-helper-image {
  width: 142px;
  height: 52px;
}
