/* 배너 안 텍스트 */
.home-title {
  cursor: pointer;
}

.board-row {
  flex-direction: row;  /* 가로 정렬 */
  gap: 30px;             /* 아이콘 사이 여백 */
}

/* 카드 컨테이너 마진 */
.home-card-container {
  margin-top: -5%;
}

/* 카드 수정 */
.card-shape {
  width: 100%;
  max-width: 70%;
}

/* 게시판 아이콘 공간 여유 */
.board-icon {
  height: 150px;
  width: 130px;
}

/*게시판 아이콘 문자열 가로 정렬*/
.board-icon p {
  white-space: nowrap;
}

/*아이콘 이미지*/
.home-code-helper-img {
  margin-top: 20px;
  width: 170px;
  height: 50px;
  object-fit: contain;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.home-code-helper-img:hover {
  transform: scale(1.05);
}